.avatar {
  border-radius: 50%;
  border: 1px solid #ececec;
  color: #333;
  text-align: center;
  font-size: 12px;
}

.avatar-large {
  width: 45px;
  height: 45px;
  line-height: 45px;
}

.avatar-small {
  width: 15px;
  height: 15px;
}