.message-input-editor-container {
  width: 100%;
  cursor: text;
  padding: 15px;
}

.message-input-menu {
  display: flex;
  align-items: center;
  width: 40px;
  border-left: 1px solid #ccc;
}

.message-input-container {
  display: flex;
  
}

.message-input-editor {
  vertical-align: top;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: calc(100% - 30px);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 15px;
}
.message-input-monospace {
  background-color: #ececec;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: monospace;
}

.message-input-emojipicker {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 15px;
  height: 100%;
}