.message-container {
  width: 100%;
}

.message-user {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding-bottom: 5px;
}

.message-time {
  font-size: 10px;
  font-weight: normal;
  color: #333;
}

.message-data {
  line-height: 22px;
  padding-bottom: 2px;
  font-family: monospace;
}
.message-data img {
  vertical-align: middle;
}

.message-gutter {
  width: 70px;
  text-align: right;
  padding-right: 10px;
}

.message-gutter img {
  border-radius: 5px;
}

.message-reply {
  color: #666;
  font-size: 12px;
}

.message-reply:hover {
  color: #4A4E69;
}

.message-reply-icon {
  padding-right: 5px;
}