.sidebar {
  width: 260px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  flex-direction: column;
  /*background-color: #1E3231;*/
  background-color: #031D44;
  min-width: 260px;
  height: 100vh;

}

.sidebar-network {
  padding: 10px;
  font-size: 30px;
  
  color: white;
}

