.text-bold {
  font-weight: bold;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.text-emoji {
  width: 20px;
  height: 20px;
}

.text-monospace {
  font-family: monospace;
  background-color: lightgrey;
  border: 1px solid #666;
  border-radius: 2px;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-normal {
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  color: black;
  background-color: white;
}

.foreground-0 { color: white; }
.foreground-1 { color: black; }
.foreground-2 { color: blue; }
.foreground-3 { color: green; }
.foreground-4 { color: red; }
.foreground-5 { color: brown; }
.foreground-6 { color: magenta; }
.foreground-7 { color: orange; }
.foreground-8 { color: yellow; }
.foreground-9 { color: lightgreen; }
.foreground-10 { color: cyan; }
.foreground-11 { color: lightcyan; }
.foreground-12 { color: lightblue; }
.foreground-13 { color: pink; }
.foreground-14 { color: grey; }
.foreground-15 { color: lightgrey; }
.foreground-16 { color: #470000; }
.foreground-17 { color: #472100; }
.foreground-18 { color: #474700; }
.foreground-19 { color: #324700; }
.foreground-20 { color: #004700; }
.foreground-21 { color: #00472c; }
.foreground-22 { color: #004747; }
.foreground-23 { color: #002747; }
.foreground-24 { color: #000047; }
.foreground-25 { color: #2e0047; }
.foreground-26 { color: #470047; }
.foreground-27 { color: #47002a; }
.foreground-28 { color: #740000; }
.foreground-29 { color: #743a00; }
.foreground-30 { color: #747400; }
.foreground-31 { color: #517400; }
.foreground-32 { color: #007400; }
.foreground-33 { color: #007449; }
.foreground-34 { color: #007474; }
.foreground-35 { color: #004074; }
.foreground-36 { color: #000074; }
.foreground-37 { color: #4b0074; }
.foreground-38 { color: #740074; }
.foreground-39 { color: #740045; }
.foreground-40 { color: #b50000; }
.foreground-41 { color: #b56300; }
.foreground-42 { color: #b5b500; }
.foreground-43 { color: #7db500; }
.foreground-44 { color: #00b500; }
.foreground-45 { color: #00b571; }
.foreground-46 { color: #00b5b5; }
.foreground-47 { color: #0063b5; }
.foreground-48 { color: #0000b5; }
.foreground-49 { color: #7500b5; }
.foreground-50 { color: #b500b5; }
.foreground-51 { color: #b5006b; }
.foreground-52 { color: #ff0000; }
.foreground-53 { color: #ff8c00; }
.foreground-54 { color: #ffff00; }
.foreground-55 { color: #b2ff00; }
.foreground-56 { color: #00ff00; }
.foreground-57 { color: #00ffa0; }
.foreground-58 { color: #00ffff; }
.foreground-59 { color: #008cff; }
.foreground-60 { color: #0000ff; }
.foreground-61 { color: #a500ff; }
.foreground-62 { color: #ff00ff; }
.foreground-63 { color: #ff0098; }
.foreground-64 { color: #ff5959; }
.foreground-65 { color: #ffb459; }
.foreground-66 { color: #ffff71; }
.foreground-67 { color: #cfff60; }
.foreground-68 { color: #6fff6f; }
.foreground-69 { color: #65ffc9; }
.foreground-70 { color: #6dffff; }
.foreground-71 { color: #59b4ff; }
.foreground-72 { color: #5959ff; }
.foreground-73 { color: #c459ff; }
.foreground-74 { color: #ff66ff; }
.foreground-75 { color: #ff59bc; }
.foreground-76 { color: #ff9c9c; }
.foreground-77 { color: #ffd39c; }
.foreground-78 { color: #ffff9c; }
.foreground-79 { color: #e2ff9c; }
.foreground-80 { color: #9cff9c; }
.foreground-81 { color: #9cffdb; }
.foreground-82 { color: #9cffff; }
.foreground-83 { color: #9cd3ff; }
.foreground-84 { color: #9c9cff; }
.foreground-85 { color: #dc9cff; }
.foreground-86 { color: #ff9cff; }
.foreground-87 { color: #ff94d3; }
.foreground-88 { color: #000000; }
.foreground-89 { color: #131313; }
.foreground-90 { color: #282828; }
.foreground-91 { color: #363636; }
.foreground-92 { color: #4d4d4d; }
.foreground-93 { color: #656565; }
.foreground-94 { color: #818181; }
.foreground-95 { color: #9f9f9f; }
.foreground-96 { color: #bcbcbc; }
.foreground-97 { color: #e2e2e2; }
.foreground-98 { color: #ffffff; }
.foreground-99 { color: inherit; }

.background-0 { background-color: white; }
.background-1 { background-color: black; }
.background-2 { background-color: blue; }
.background-3 { background-color: green; }
.background-4 { background-color: red; }
.background-5 { background-color: brown; }
.background-6 { background-color: magenta; }
.background-7 { background-color: orange; }
.background-8 { background-color: yellow; }
.background-9 { background-color: lightgreen; }
.background-10 { background-color: cyan; }
.background-11 { background-color: lightcyan; }
.background-12 { background-color: lightblue; }
.background-13 { background-color: pink; }
.background-14 { background-color: grey; }
.background-15 { background-color: lightgrey; }
.background-16 { background-color: #470000; }
.background-17 { background-color: #472100; }
.background-18 { background-color: #474700; }
.background-19 { background-color: #324700; }
.background-20 { background-color: #004700; }
.background-21 { background-color: #00472c; }
.background-22 { background-color: #004747; }
.background-23 { background-color: #002747; }
.background-24 { background-color: #000047; }
.background-25 { background-color: #2e0047; }
.background-26 { background-color: #470047; }
.background-27 { background-color: #47002a; }
.background-28 { background-color: #740000; }
.background-29 { background-color: #743a00; }
.background-30 { background-color: #747400; }
.background-31 { background-color: #517400; }
.background-32 { background-color: #007400; }
.background-33 { background-color: #007449; }
.background-34 { background-color: #007474; }
.background-35 { background-color: #004074; }
.background-36 { background-color: #000074; }
.background-37 { background-color: #4b0074; }
.background-38 { background-color: #740074; }
.background-39 { background-color: #740045; }
.background-40 { background-color: #b50000; }
.background-41 { background-color: #b56300; }
.background-42 { background-color: #b5b500; }
.background-43 { background-color: #7db500; }
.background-44 { background-color: #00b500; }
.background-45 { background-color: #00b571; }
.background-46 { background-color: #00b5b5; }
.background-47 { background-color: #0063b5; }
.background-48 { background-color: #0000b5; }
.background-49 { background-color: #7500b5; }
.background-50 { background-color: #b500b5; }
.background-51 { background-color: #b5006b; }
.background-52 { background-color: #ff0000; }
.background-53 { background-color: #ff8c00; }
.background-54 { background-color: #ffff00; }
.background-55 { background-color: #b2ff00; }
.background-56 { background-color: #00ff00; }
.background-57 { background-color: #00ffa0; }
.background-58 { background-color: #00ffff; }
.background-59 { background-color: #008cff; }
.background-60 { background-color: #0000ff; }
.background-61 { background-color: #a500ff; }
.background-62 { background-color: #ff00ff; }
.background-63 { background-color: #ff0098; }
.background-64 { background-color: #ff5959; }
.background-65 { background-color: #ffb459; }
.background-66 { background-color: #ffff71; }
.background-67 { background-color: #cfff60; }
.background-68 { background-color: #6fff6f; }
.background-69 { background-color: #65ffc9; }
.background-70 { background-color: #6dffff; }
.background-71 { background-color: #59b4ff; }
.background-72 { background-color: #5959ff; }
.background-73 { background-color: #c459ff; }
.background-74 { background-color: #ff66ff; }
.background-75 { background-color: #ff59bc; }
.background-76 { background-color: #ff9c9c; }
.background-77 { background-color: #ffd39c; }
.background-78 { background-color: #ffff9c; }
.background-79 { background-color: #e2ff9c; }
.background-80 { background-color: #9cff9c; }
.background-81 { background-color: #9cffdb; }
.background-82 { background-color: #9cffff; }
.background-83 { background-color: #9cd3ff; }
.background-84 { background-color: #9c9cff; }
.background-85 { background-color: #dc9cff; }
.background-86 { background-color: #ff9cff; }
.background-87 { background-color: #ff94d3; }
.background-88 { background-color: #000000; }
.background-89 { background-color: #131313; }
.background-90 { background-color: #282828; }
.background-91 { background-color: #363636; }
.background-92 { background-color: #4d4d4d; }
.background-93 { background-color: #656565; }
.background-94 { background-color: #818181; }
.background-95 { background-color: #9f9f9f; }
.background-96 { background-color: #bcbcbc; }
.background-97 { background-color: #e2e2e2; }
.background-98 { background-color: #ffffff; }
.background-99 { background-color: inherit; }