
.presence-time {
  padding-left: 5px;
  color: #aaa;
  font-weight: normal;
  font-size: 14px;
  flex-grow: 1;
  text-align: right;
}

.presence-action {
  padding-left: 5px;
}

.presence-user {
  font-weight: bold;
  color: #333;
}

.presence-avatar {
  padding-right: 5px;
}

.presence-gutter {
  flex-grow: 0;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 55px;
}

.presence-container {
  padding-top: 5px;
  padding-bottom: 5px;
}


