@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-size: 1.4rem;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}